.centerContent{
    text-align: center;
}

#timer{
    text-align: left;
    color: blue;
    /* padding-right: 10px; */
}

.div-Btn{
    text-align: center;
}

.hide-quiz-1, .hide-quiz-2, .hide-quiz-3, .hide-quiz-4, .hide-quiz-5{
    display: none;
}

.remove-content-End-div{
    display: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{ 
    text-decoration: none;
    text-decoration-color: none;
}
